#root {
    max-width: 80vw;
    margin: 0 auto;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /* background: yellow; */

    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */

    /* font-synthesis: none; */
    /* text-rendering: optimizeLegibility; */
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Button{
    margin: .5rem;
}

.Resume h2{
    margin-bottom: 0;
}
.Resume h4{
    margin: 0;
}

.Resume ul{
    padding: 0 1rem;
    margin-top: 0;
}

.App{
    margin: 0 0.5rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}
::-webkit-scrollbar {
  width: 0;
}
.Contact{
    /* background: red; */
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.Contact img{
    padding: 0.3rem;
    width: 30px;
    height: 30px;
}
